@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

body {
  font-family: "Lato", "PT Sans", "Helvetica Neue", sans-serif;
  font-size: 24px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

a {
  color: inherit;
  text-decoration: none;
}

#page-title {
  color: white;
  text-align: center;
}

#wrapper {
  display: block;
  max-width: 24em;
  margin: 3% auto 1% auto;
  padding: 24px 48px;
  overflow: auto;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0px 1px 7px 0px rgba(140, 140, 140, 0.7);
}

#quote {
  text-align: center;
}

#quote-content {
  font-size: 1.3em;
}

#quote-author {
  font-weight: lighter;
  font-size: 1em;
  margin-top: 1em;
}

#buttons {
  margin-top: 1em;
}

#tweet-btn {
  float: left;
  color: white;
  padding: 0.3em 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
}

#get-quote-btn {
  float: right;
  padding: 16px;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 0.6em;
  font-weight: bold;
}

#get-quote-btn:hover {
  cursor: pointer;
}

@media screen and (max-width: 991px) {
  #get-quote-btn {
    margin-left: auto;
    margin-right: auto;
  }
}

#creator-tag {
  font-size: 0.7em;
  text-align: center;
  color: white;
}

.lighter-font-weight {
  font-weight: lighter;
}
